@import url('./common.css');


.content ol{
    padding-left: 5%;
}
.content img{
    width: 35%;
    
}
.capek-image{
    
    justify-content: center;
    gap: 5%;
    
}

.ancient-images img{
    width: 45%;
}

.mechanical-turk img{
    width: 40%;
    
}

.mechanical-turk{
    display: flex;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.jacquard-loom img{
    width: 50%;
}



.asimov{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.devol-engel img, .unimate img{
    width: 50%;
}

.shakey-lunokhold img{
    width: 50%;
}

.asimo img{
    width: 45%;
}

@media only screen and (max-width:480px) {
    .devol-engel img, .unimate img{
        width: 80%;
    }
    
    .shakey-lunokhold img{
        width: 80%;
    }
    
    .asimo img{
        width: 65%;
    }
   
    
}

